<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>my Blog</title>
  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
  <script type="text/template" id="postsTmpl">
    <% _.each(posts, function(element, key, list) { %>
      <article>
        <h2><%= element.title %></h2>
        <p><%= element.content %></p>
      </article>
    <%  }); %>
  </script>
</head>
<body>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Create Post
</button>
<div class="container">
  <div class="col-md-8">
<div id="posts"></div>
  </div>
  <div class="col-md-4">

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>form for new post</p>
        <form action="">
          <h2><input type="text" class="newPostTitle" placeholder="Title"></h2>
          <p><textarea name="content" class="newPostContent" cols="30" rows="10"></textarea></p>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <button type="submit" class="btn btn-primary js-submitNewPost">New Post</button>
</div>
        </form>
      </div>

    </div>
  </div>
</div>
<script src="node_modules/jquery/dist/jquery.js"></script>
<script src="node_modules/underscore/underscore.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="main.js"></script>
</body>
</html>
